{
  "extends": "airbnb-base",
  "rules": {
    "quotes": ["error", "single"],
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "no-use-before-define": 0,
    "no-param-reassign": 0,
    "array-callback-return": 0,
    "consistent-return": 0,
    "no-return-assign": 0
  },
  "globals": {
    "__root": false
  }
}
